@media (max-width: 991.98px) { .hero-section .hero-text h1 { font-size: 3rem; } }
@media (max-width: 767.98px) { .hero-section .hero-text h1 { font-size: 2rem; } .collection-grid img { height: 250px; } }
@media (max-width: 575.98px) { .hero-page h1 { font-size: 2rem; } }
